<div id="<%= dom_id student %>">
  <p>
    <strong>Name:</strong>
    <%= student.name %>
  </p>

  <p>
    <strong>Order:</strong>
    <%= student.ordering %>
  </p>

  <p>
    <strong>School:</strong>
    <%= student.school_id %>
  </p>

</div>
